---
import Layout from "../layouts/Layout.astro";
---

<Layout title="2010 Map | Sehome Hill Arboretum | Western Washington University">
  
  <div class="page-content">
    <div class="region-wrapper">
      <h1>2010 Mapping Solution for the Sehome Hill Arboretum</h1>

            <div class="grid-column-count--2 column--50-50">
                <div class="left" style="align-self: center;">
                    <img src="src/img/SehomeHill/sehomehill.webp" class="photocenter" width="600px" height="776px" alt="Sehome Hill Map attractions are on the paved Huntoon trail from entrances along East College Way." id="mapImg" usemap="#map" />
                    
                     <map name="map">
                        <area shape="rect" coords="257,135,290,161" alt="Quiet Rocks" />
                        <area shape="rect" coords="367,162,420,185" alt="Watch Tower" />
                        <area shape="rect" coords="226,297,267,320" alt="Landslide" />
                        <area shape="rect" coords="157,571,180,635" alt="Fairhaven Trail / Huntoon North" />
                        <area shape="rect" coords="197,389,220,455" alt="Huntoon Trail" />
                    </map> 
</div>
  </div>
          </div>
  </div>
  </Layout>
