---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Arboretum Board | Sehome Hill Arboretum | Western Washington University">
	<!-- The main element starts here, according to  layout.astro -->
	<div class="page-content">
		<div class="region-wrapper">

			<h1>Sehome Hill Arboretum Board of Governors (SHABOG)</h1>
	  
			<h2>Purpose of the SHABOG</h2>
			<p>
			  <a href="https://cob.org/gov/public/bc/arboretum">The SHABOG</a> was
			  created under the Inter-Local Cooperation Agreement between the City of Bellingham (City) and Western Washington University (WWU). The purpose of the Board is to develop and coordinate the Sehome Hill Arboretum program. The Board works with the City and WWU in planning the use of such			  capital, operating and maintenance funds as shall be authorized by the City of Bellingham or WWU, and such endowment funds to the Arboretum as may be received by either agency. The Board of Governors coordinates with WWU and City Parks and Recreation maintenance and operations programs. These are all volunteer projects associated with the Arboretum. The Board establishes and submits priorities for maintenance and development of the Arboretum in accordance with the Long Range Master Plan adopted by the City and Western Washington University. Finally, the Board may make recommendations to the City Council and Board of Trustees of WWU concerning the continuation, modification, or termination of the Inter-Local agreement.
			</p>
	  
	  
<h3>Community Cooperation</h3>	  
			<p>
			The   Inter-Local agreement is currently valid until July 2034.
			</p>
			
			  <h2>City of Bellingham Official Site</h2>
  <p>
    Please find the <a
      href="https://cob.org/services/recreation/parks-trails/parks-guide/sehome-arboretum"
      >Official City of Bellingham Sehome Hill Arboretum web pages.</a>
  </p>


  		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
