---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Birds | Sehome Hill Arboretum | Western Washington University">
  <!-- The main element slots here -->
  <div class="page-content">
    <div class="region-wrapper">
      <h1>Sehome Hill Arboretum Birder's Field Guide</h1>
      <p>
        Free from the noise of city life, the Arboretum is one of the best
        places in town to spot unique bird species and hear their songs and
        calls. As a natural area, many species call the Arboretum home, and
        experiencing the presence of the birds in the morning and evening light is magical. We have identified as many as 16 species that reside in 
        the arboretum, and below you can listen to their songs and calls, whether
        you are at home or on the trails of the Sehome Hill Arboretum.
      </p>
      <h2>More Information</h2>
      <p>
        Click on any bird to find more facts and audio from the <a
          href="https://www.audubon.org/bird-guide"
          >National Audubon Societies bird guide.</a>
      </p>

      <div class="card-4col birds">
        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/barred-owl"
              >Barred Owl</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Barred Owl.webp"
              alt="A Barred Owl with brown and white feathers"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Barred Owl Description</h4>
              The Barred Owl has traveled a long way from its native eastern North
              America to occupy the Arboretum. Considered invasive to the Pacific
              Northwest, the U.S. Fish & Wildlife Service is attempting to manage
              their population. Although primarily nocturnal, keep an ear out for
              its unmistakable eight-note baritone hoot.
            </p>
          </div>
        </div>

        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/cassins-vireo"
              >Cassin's Vireo</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Cassins Vireo.webp"
              alt="The Cassin's Vireo is a  small yellowish bird"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Cassin's Vireo Description</h4>
              Named after prominent nineteenth-century ornithologist John Cassin,
              Cassin’s vireo is a migratory songbird native to the Pacific States
              and British Columbia. In the summer, it can be found in its tiny nest
              or searching for insects, with a raspy, chattering call. As winter
              nears, wish Cassin’s vireo a safe journey to Mexico and southern Arizona.
            </p>
          </div>
        </div>

        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/common-nighthawk"
              >Common Nighthawk</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Common Nighthawk.webp"
              alt="A flying Common Nighthawk with brown feathers and white stripes and distinctive angular wings"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
                <h3 class="visually-hidden">Common Nighthawk Description</h3>
              Despite its name, the Common Nighthawk can be found day and night hunting
              for flying insects. However, they are most active during dawn and dusk.
              As a striking aerial hunter with a shrill, nasal call, the Common Nighthawk
              bird is unignorable.
            </p>
          </div>
        </div>
        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/downy-woodpecker"
              >Downy Woodpecker</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Downy Woodpecker.webp"
              alt="The Downy Woodpecker is a short-beaked black and white striped bird with a bright red spot on the back of its head"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Downy Woodpecker Description</h4>
              The Downy Woodpecker, found throughout the U.S. and Canada, is the
              smallest woodpecker in North America. It sports a stubby beak, white
              belly, spotted black plumage, and, on males, a red spot on the nape.
              Listen closely for its falling and flat chirps, drums, rattles, and
              trills.
            </p>
          </div>
          <audio controls>
            <source src="birdsounds/downy.mp3" type="audio/mp3" />
          </audio>
        </div>

        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/hairy-woodpecker"
              >Hairy Woodpecker</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Hairy Woodpecker.webp"
              alt="The Hairy Woodpecker is a long-beaked bird with a white belly, black wings, and a bright red spot on the back of its head"
              width="175"
              height="243"
            />
          </div>

          <div class="body">
            <p>
              <h4 class="visually-hidden">Hairy Woodpecker Description</h4>
              The Hairy Woodpecker is very similar to the Downy Woodpecker. The two
              share similar habitats and appearances, and the same call patterns
              and types. However, the Hairy is larger and louder and, unlike the
              Downy, lives in Mexico and the American Southwest deserts during the
              Winter. Find the Hairy in large trees around springtime.
            </p>
          </div>
          <audio controls>
            <source src="birdsounds/hairy.mp3" type="audio/mp3" />
          </audio>
        </div>

        <div class="card">
          <h3 class="title">
            <a
              href="https://www.audubon.org/field-guide/bird/hammonds-flycatcher"
              >Hammond's Flycatcher</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Hammonds Flycatcher.webp"
              alt="The Hammond's Flycatcher is A small round gray bird"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Hammond's Flycatcher Description</h4>
              Hammond’s Flycatcher is a chubby, short-tailed bird, with sage-gray
              body and plumage. In the warmer seasons, it is found throughout the
              Pacific Northwest, British Columbia, and Yukon, and some parts of Alaska
              in the cooler seasons. The Hammond’s migrates to the American Southwest
              and, especially in the winter, Mexico.
            </p>
          </div>
        </div>

        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/huttons-vireo"
              >Hutton's Vireo</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Huttons Vireo.webp"
              alt="The Hutton's Vireo is a small yellowish bird perched on a branch"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Hutton's Vireo Description</h4>
              Hutton’s Vireo is a mostly non-migratory, woodland songbird residing
              along the Pacific Coast, Southwest, and Mexican coastal regions. It
              is gray or grayish yellow green, “compact and chunky.” Hutton’s calls
              are monotonous, comprised of one to three parts. See this active little
              bird hop about the branches year-round in the Arboretum.
            </p>
          </div>
        </div>

        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/northern-flicker"
              >Northern Flicker</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Northern Flicker.webp"
              alt="The Northern Flicker is a long-beaked brown bird sitting on grass, with black-spotted body and red markings on its face"
              width="175"
              height="243"
            />
          </div>

          <div class="body">
            <p>
                <h4 class="visually-hidden">Northern Flicker Description</h4>
              The Northern Flicker is a standout woodpecker. It is light brown with
              black spots and flashes of bright red, yellow, or orange. Interbreeding
              in Canada and Alaska. The bird resides in the continental U.S. and
              near Mexican coastlines. Listen for the Flicker’s distinct “kikikiki,”
              “peough” and drums in spring.
            </p>
          </div>
          <audio controls>
            <source src="birdsounds/flicker.mp3" type="audio/mp3" />
          </audio>
        </div>

        <div class="card">
          <h3 class="title">
            <a
              href="https://www.audubon.org/field-guide/bird/northern-saw-whet-owl"
              >Northern Saw-whet Owl</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Northern Saw-whet Owl.webp"
              alt="The Northern Saw-whet Owl is a small brown owl perched in dense branches"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Northern Saw-whet Owl Description</h4>
              The Northern Saw-whet Owl pines for coniferous thickets like other
              owls. Despite its varied migration patterns and habitats across the
              continent, it fortunately can be seen year-round in the Arboretum.
              Usually, some variation of browns and black, the Northern Saw-whet
              is mostly silent, save for its toots and whistles heard in late winter
              and spring.
            </p>
          </div>
        </div>

        <div class="card">
          <h3 class="title">
            <a
              href="https://www.audubon.org/field-guide/bird/olive-sided-flycatcher"
              >Olive-sided Flycatcher</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Olive-sided Flycatcher.webp"
              alt="The Olive-sided Flycatcher is a gray, white-bellied bird with a tufted head on a large tree bough."
              width="175"
              height="243"
            />
          </div>

          <div class="body">
            <p>
              <h4 class="visually-hidden">
                Olive-sided Flycatcher Description
              </h4>
              Despite its name, the chirper and whistler Olive-sided Flycatcher is
              oft olivie-tinted neutrals. It breeds in Canadian and western American
              coniferous forests in the warmer seasons and winters as far as the
              South American tropics. Unfortunately, this Flycatcher’s existence
              is becoming threatened due to declining winter habitats.
            </p>
          </div>
          <audio controls>
            <source
              src="birdsounds/olive_sided_flycatcher.mp3"
              type="audio/mp3"
            />
          </audio>
        </div>

        <div class="card">
          <h3 class="title">
            <a
              href="https://www.audubon.org/field-guide/bird/pacific-slope-flycatcher"
              >Pacific-slope Flycatcher</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Pacific-slope Flycatcher.webp"
              alt="AThe Pacific-slope Flycatcher is a small gray bird perched on a thin twig"
              width="175"
              height="243"
            />
          </div>

          <div class="body">
            <p>
              <h4 class="visually-hidden">
                Pacific-slope Flycatcher Description
              </h4>
              Another chirping and whistling flycatcher, the Pacific-slope Flycatcher
              was accurately named. This bird is found along and near the Pacific
              North American Coast, breeding on the coasts of British Columbia to
              California, and wintering in western and southern Mexico. Keep an eye
              out for this tiny olive- and chartreuse-tinted bird in the summer.
            </p>
          </div>
          <audio controls>
            <source
              src="birdsounds/pacific_slope_flicatcher.mp3"
              type="audio/mp3"
            />
          </audio>
        </div>

        <div class="card">
          <h3 class="title">
            <a
              href="https://www.audubon.org/field-guide/bird/pileated-woodpecker"
              >Pileated Woodpecker</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Pileated Woodpecker.webp"
              alt="The Pileated Woodpecker is a large, long-beaked bird with black body, striped black and white face, and red crest, holding onto the side of a tree."
              width="175"
              height="243"
            />
          </div>

          <div class="body">
            <p>
              <h4 class="visually-hidden">Pileated Woodpecker Description</h4>
              The Pileated Woodpecker, the largest in North America, is easily spotted
              by its iconic bright red crest. This bird pecks distinct rectangular
              holes, oft in rotten wood for carpenter ants. The Pileated Woodpecker
              resides in the eastern U.S., lower Canadian provinces, and parts of
              the Pacific Northwest. Listen for its drumming and “cuk-cuk-cuk-cuk-cuk”
              chirps.
            </p>
          </div>
          <audio controls>
            <source src="birdsounds/pileated.mp3" type="audio/mp3" />
          </audio>
        </div>

        <div class="card">
          <h3 class="title">
            <a
              href="https://www.audubon.org/field-guide/bird/red-breasted-sapsucker"
              >Red-breasted Sapsucker</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Red-breasted Sapsucker.webp"
              alt="The Red-breasted Sapsucker is a Bird with red head and chest, and black and white body, hanging onto tree bark"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">
                Red-breasted Sapsucker Description
              </h4>
              The easy to spot Red-breasted Sapsucker can be found, like its cousins,
              drilling neat holes into trees searching for sap. This bird longs for
              the U.S. and Canada’s Pacific Coasts coniferous forests. Migration
              patterns vary by region; because the Arboretum is so close to the coast,
              which it loves the most, the Red-breasted Sapsucker may not migrate
              often.
            </p>
          </div>
        </div>

        <div class="card">
          <h3 class="title">
            <a
              href="https://www.audubon.org/field-guide/bird/rufous-hummingbird"
              >Rufous Hummingbird</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Rufous Hummingbird.webp"
              alt="The Rufous Hummingbird is a  very small (about 3 inch) small red-orange bird with white belly and long, narrow beak, perched on cluster of narrow branches"
              width="175"
              height="243"
            />
          </div>

          <div class="body">
            <p>
              <h4 class="visually-hidden">Rufous Hummingbird Description</h4>
              The Rufous Hummingbird is small but mighty, faithfully defending its
              nourishing flower patches. Males glow copper: females shine green.
              Breeding in the Pacific Northwest and British Columbia in the spring,
              the Rufous Hummingbird summers in the western states and Mexico, and
              winters in the Gulf Coast states. Listen for its unique chirp-trill
              calls.
            </p>
          </div>
          <audio controls>
            <source src="birdsounds/rufous.mp3" type="audio/mp3" />
          </audio>
        </div>

        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/vauxs-swift"
              >Vaux's Swift</a
            >
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Vauxs Swift.webp"
              alt="This shows the bottom of a large gray Vaux's Swift  flying with wings fully extended"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Vaux's Swift Description</h4>
              The dark-colored Vaux’s Swift is usually flying and aerially hunting. It breeds along the Pacific Coast from British Columbia to Northern
              California. It winters in Mexico and tropical America. The in-state
              population of Vaux’s Swifts is gradually declining; deforestation of
              mature trees in the Northwest is forcing the bird northward.
            </p>
          </div>
        </div>

        <div class="card">
          <h3 class="title">
            <a href="https://www.audubon.org/field-guide/bird/warbling-vireo"
              >Warbling Vireo</a>
          </h3>
          <div class="image">
            <img
              src="src/img/birds/Warbling Vireo.webp"
              alt="The Warbling Vireo is a gray, white-bellied bird sitting upright on a sunny, leafy branch"
              width="175"
              height="243"
            />
          </div>
          <div class="body">
            <p>
              <h4 class="visually-hidden">Warbling Vireo Description</h4>
              Like other vireos seen in the Arboretum, the Warbling Vireo is tiny
              and grayish yellow green. This summer bird is seen from coast to coast
              in the United States and Canada. You won’t see the Warbling Vireo during
              its nightly migration; it passes through Mexico to nestle in tropical
              America. Listen for the  warbles and “eeah” calls.
            </p>
          </div>
        </div>
      </div>
      <!-- 4 column class definition -->
    </div>
  </div>
  <!-- class region-wrapper -->
</Layout>
