---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Blank Arboretum Page Template | Sehome Hill Arboretum | Western Washington University">
	<!-- The main element starts here -->
	<div class="page-content">
		<div class="region-wrapper">

			  
		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
