---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Community Engagement | Sehome Hill Arboretum | Western Washington University">
	
	<div class="page-content">
		<div class="region-wrapper">

            <h1Community Engagement</h1>
					<h2>The Community</h2>
					<p>The community consists of anybody interested. It's a big project. Help is welcomed in any arena of maintaining a dynamic website like this Western Sehome Hill Arboretum site.
											</p>

		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
