---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Contact Us | Sehome Hill Arboretum | Western Washington University">
	<!-- The main element starts here -->
	<div class="page-content">
		<div class="region-wrapper">

			  
			<h1>Contact Us</h1>
            
			<h2>Questions Regarding the Sehome Hill Arboretum?</h2>
            <p>
                To learn more about the City of Bellingham Sehome Hill Arboretum, the SHABOG, including upcoming events, please do
                contact: <a href="mailto:sehomehill@cob.org">the SHABOG</a>
            </p>

            <h2>Questions About the Website?</h2>
            <p>
                To contact us regarding questions or comments about the Sehome Hill Arboretum website, <a
                    href="mailto:engebrd2@wwu.edu">email David Engebretson</a> in WebTech at Western.
            </p>


		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
