---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Contact Us | Sehome Hill Arboretum | Western Washington University">
	
	<div class="page-content">
		<div class="region-wrapper">

			  
			<h1>Contact Us</h1>

            <h2>Questions About the Western Sehome Hill Arboretum Website?</h2>
            <p>
                To contact us regarding questions or comments about the Sehome Hill Arboretum website, <a href="mailto:engebrd2@wwu.edu"> please email David Engebretson Jr</a> in WebTech at Western.
            </p>


		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
