---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fungi | Sehome Hill Arboretum | Western Washington University">
  
  <div class="page-content">
    <div class="region-wrapper">
      <h1>The Fungi Guide for the Sehome Hill Arboretum</h1>
      <p>
        With roughly 90 species of fungi found in the Arboretum, it’s a
        biodiverse cornucopia! The most prevalent species can be seen with
        little effort, but some hide under shrubs and logs or high up on trees.
Be careful to stick to the trails to minimize damage to undergrowth. A
        lot of important species can be trampled and new growth can’t occur if there is too much traffic outside the clearly marked trails.
      </p>
      <h2><em>Armillaria mellea</em> “Honey Mushroom”</h2>
      <p>
        Honey Mushroom is an umbrella term for a family of mushrooms. The most
        common in the Arboretum is <em> A. Ostoyae</em>. We ask that any Honey
        Mushrooms in the Arboretum are not disturbed, as it can disrupt the
        ecosystem! As the mushroom feeds off white rot, it is almost always
        found at the base of a plant, where it decomposes the roots of a tree or
        plant. The mushroom grows in clusters and around stumps, fallen logs,
        and live plants. Usually, you find them late in the year when the rainy
        season returns. Hallmarks of the Honey Mushroom family are a shadow in
        the center of the cap, and decurrent, or running down the stalk, gills.
      </p>
      <img
        src="src/img/Fungi Page/HoneyFungus.FungiPage.webp"
        alt="A bunch of Honey Mushrooms in the forest.  "
      />
      <p>
        Image Credit: <a
          href="https://en.wikipedia.org/wiki/Armillaria_mellea#/media/File:Armillaria_mellea,_Honey_Fungus,_UK_1.webp"
          >Stu's Images</a
        >
      </p>

      <h2><em>Agaricus buckmacadooi</em> “Buck’s Agaricus”</h2>
      <p>
        The Buck’s Agaricus was named after the National Mushrooms Association’s
        long time member Buck McAdoo in 2016. Toxic to humans, the Buck’s
        Agaricus smells like tar and has a wide, flat cap with a dark center. It
        can be found in partially decayed matter on the forest floor.
      </p>
      <img
        src="src/img/Fungi Page/BucksAgaricus.PlantPage.webp"
        alt="A few Buck’s Agaricus mushrooms in the dirt.  "
      />
      <p>
        Image Credit: <a
          href="https://lostcoastoutpost.com/loco-media/loco-media/taxa/observationphoto/159957/original.webp"
          >Christian Schwarz</a
        >
      </p>

      <h2><em>Hypomyces lactifluorum</em> “Lobster Mushroom”</h2>
      <p>
        While not actually a mushroom, the parasitic ascomycete fungus grows on
        some species of mushroom and turns them a red-orange color, similar to a
        cooked lobster. The fungus attacks milk-caps and brittlegills, notably
        the chanterelle. The chanterelle is common in this region but has not
        been spotted in the Arboretum.
      </p>
      <img
        src="src/img/Fungi Page/LobsterMushroom.FungiPage.webp"
        alt="Two Lobster Mushrooms on moss.  "
      />
      <p>
        Photo Credit:<a
          href="https://burkeherbarium.org/imagecollection/taxon.php?Taxon=Hypomyces%20lactifluorum"
        >
          Steve Trudell
        </a>
      </p>

      <h2><em>Trametes versicolor</em> “Turkey-tail”</h2>
      <p>
        These flat, fan-shaped mushrooms grow on the sides of logs and trunks.
        The shape and multicolored rings resemble a turkey tail, hence the name.
        Like the Honey Mushroom, the Turkey-tail feeds off white rot and tends
        to be found on dead trees. Playing an important role in decomposition,
        Turkey-tail turns wood’s lignin into a white gooey cellulose. The
        cellulose, which is the main part of a plant’s cell wall, can be
        reabsorbed into the soil, which allows nutrients to reenter the cycle
        again. lose can be reabsorbed into the soil now, which allows nutrients
        to reenter the cycle again.
      </p>
      <img
        src="src/img/Fungi Page/TurkeyTail.FungiPage.webp"
        alt=" A Turkey-tail mushroom on a log surrounded by leaves. "
      />
      <p>
        Photo Credit:<a
          href="https://burkeherbarium.org/imagecollection/photo.php?Photo=wtu100872&Taxon=Trametes%20versicolor&SourcePage=taxon"
        >
          Steve Trudell
        </a>
      </p>

      <h2><em>Tremella mesenterica</em> “Witch's Butter”</h2>
      <p>
        Resembling butter, Witch’s Butter goes by many names. The jelly-like
        yellow and orange fungus grows on logs and other dead deciduous wood.
        While considered edible, Witch’s Butter should not be harvested from the
        Arboretum. Witch’s butter is considered a parasite of a parasite and
        consumes a parasite that digests rotting wood. The yellow fungus is just
        a fruiting body and only shows up during warm spells in winter.
      </p>
      <img
        src="src/img/Fungi Page/WitchsButter.FungiPage.webp"
        alt=" A close up of Witch’s Butter on a log. "
      />
      <p>
        Photo Credit:<a href="https://www.inaturalist.org/guide_taxa/511228">
          BioPix</a
        >
      </p>
    </div>
    <!-- class region-wrapper -->
  </div>
  <!-- class page-content -->
</Layout>
