---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Geology | Sehome Hill Arboretum | Western Washington University">
  <!-- The main element starts here -->
  <div class="page-content">
    <div class="region-wrapper">
      <h1>Earth History of the Arboretum</h1>

      <h2>The Swampland</h2>
      <p>
        Picture yourself in a swampy wetland. The humidity in the air sits
        heavily on your chest, hair is frizzy or plastered to your head, and yet
        the beauty of the moss and foliage cannot be denied. No, you are not
        standing in the swamps of Louisiana, but in the Pacific Northwest over
        fifty million years ago, during the Eocene period. As you roam the
        swampland, you are disappointed that the dinosaurs are already gone, but
        Eohippus, also known as the Dawn Horse, and ancient relatives of the
        Tapir are among your companions.
      </p>
      <div class="photorow">
        <div
          role="figure"
          id="dawnhorse-tapir"
          aria-labelledby="dawnhorse-tapir-cap"
        >
          <img
            src="src/img/Geology/Geology Page Dawn Horse.webp"
            class="align-center"
            alt="A large tan-spotted four-legged mammal with short pointed ears and a bushy tail."
          />
        </div>
      </div>

      <h2>The Chuckanut Mountains are Born</h2>
      <p>
        What does an ancient swamp matter in the grand scheme of things? It’s
        not just a place Kermit the Frog hangs out. This swamp was imperative in
        the formation of the Chuckanut Mountains, which are part of the Cascades
        Range. Rocks and mineral formations gradually eroded into sediment and
        accumulated in this swampy river basin, which produced the majestic
        mountains we see today.
      </p>

      <img
        src="src/img/Geology/chuckanut_sm.webp"
        class="align-right"
        alt="Chuckanut Geologic Formation"
      />

      <h2>Present Day – The Arboretum</h2>
      <p>
        Now that time has shifted to the present day. You are at the foot of the
        Chuckanut Mountains. You look in awe at nearly four miles of sandstone
        minerals, with the sunlight sparkling off the crystalline grains. This
        awe-inspiring process began fifty million years ago and hasn’t slowed
        down. Plate tectonics, a scientific term for how the earth’s crust is
        divided into large, continent-sized pieces that move and shift over
        millions of years, , sent these compounds on a journey across the Puget
        Sound, to the North Cascades foothills. These foothills include
        something dear to Bellingham residents' hearts, the Sehome Hill
        Arboretum.
      </p>

      <aside
        class="lightest-blue-bg align-right standard-padding"
        style="width: 50%"
      >
        <h2 class="no-margin--top">Helpful Definitions</h2>
        <ul class="factbox">
          <li>
            Eohippus (Dawn Horse): Ancestor to the modern horse. Standing up to
            about two feet tall, this miniature horse was about the size of a
            medium dog such as a Boxer.
          </li>
          <li>
            Eocene Period: A period between 56 million to approximately 34
            million years ago. The climate was hot and humid, which contributed
            to the prevalence of swamp-like conditions.
          </li>
          <li>
            Sandstone: Rock formations made up of different colored sand
            particles bonded together by heat and pressure in the Earth's crust
            over millennia. Commonly found in neutral tones such as tan, brown,
            and yellow, but can also come in shades of red and pink.
          </li>
          <li>
            Sediment: Rock and mineral fragments that accumulate at the bottom
            of water bodies. Sand at the local beach is one example of a
            sediment.
          </li>
          <li>
            Tapir: Relative of the Rhinoceros-native to tropical areas of
            Central and South America and Southeast Asia. Built like a pig with
            a miniature elephant-like trunk.
          </li>
          <li>
            Tectonic Plates: Not to be confused with dinnerware. Tectonic plates
            make up the earth’s crust. The plates are broken up like puzzle
            pieces and shift around on the mantle underneath the earth’s
            surface.
          </li>
        </ul>
      </aside>

      <h2>The Journey Continues!</h2>
      <div role="figure" class="align-left" aria-labelledby="alder-leaf-cap">
        <img
          src="src/img/Geology/fossil_leaf_sm.webp"
          alt="A black and white image of three oblong, vascular leaves with pointed ends"
        />
        <p class="photocaption" id="alder-leaf-cap">Alder Leaf Fossil</p>
      </div>

      <p>
        Remember the swamp you visited fifty million years ago? This is where
        ferns and palms were born. The murky swamp is the reason fossils of
        these plants can be found in the Arboretum. Plants and other forms of
        vegetation such as seeds, nuts, leaves, and even tree trunks sunk below
        the surface of the water and became buried by river sediment, forming
        fossils. One such fossil is the Alder leaf pictured at right. Think of
        it! Vegetation that was here long before you were even thought of, let
        alone born, has been preserved for you to enjoy.
      </p>
      <p>
        Much like books can provide adventure and insight, so does hiking and
        exploring glorious rock formations like those in the Arboretum. You can
        learn about the variety of plants and animals that have thrived in the
        Sehome Hill Arboretum over geological time by visiting this majestic
        public park for yourself and researching its geology and history via the <a
          href="https://library.wwu.edu/">Western Libraries website.</a
        >
      </p>

      <!--
                <h2>Finding the Old Quarry</h2>
                <ol> 
                    <li>
                        Start at the entrance to the arboretum, across the street from the environmental sciences building.
                    </li> 
                    <li>
                        Turn to the right.
                    </li> 
                    <li>
                        Walk south until the trail merges with the larger Huntoon Trail.
                    </li> 
                    <li>
                        Turn left and walk to the north along Huntoon Trail (the old road on the western edge of the arboretum).
                    </li> 
                    <li>
                        Notice the exposed rock face of the old quarry on the right hand side of the trail.</li>
                    </ol> 
                -->
    </div>
  </div>
</Layout>

<!-- class region-wrapper -->

<!-- class page-content -->
