---
import Layout from "../layouts/Layout.astro";
import IndexSEO from "../components/IndexSEO.astro"
---

<IndexSEO/>

<Layout
	title="Home | Sehome Hill Arboretum | Western Washington University">
	<!-- The main element starts here, according to  layout.astro -->
	<div class="page-content">
		<div class="region-wrapper">

			<h1>Welcome to Western's Sehome Hill Arboretum Website!</h1>
      <h2>About</h2>

      <p>
        Not far from the shores of Bellingham Bay and rising above the old town of Bellingham Washington lies a lush
        green forest. The 175.5 acres of the Sehome Hill Arboretum are dedicated to a Pacific Northwest
        natural environment.

        It is a preserve, a park, a home, and a
        respite from the bustle of university and city life.
      </p>

      <h2>On This Website, You’ll Find Information About:</h2>
      <p>
      <ul>
        <li>The life sustained by the hill</li>
        <li>The unique geological fingerprint of the Arboretum</li>
        <!-- <li><a href="history.html">the history of the Arboretum</a></li> -->
        <li>How the Arboretum functions in the local community</li>

      </ul>
      </p>
      <p>
        After decades of conservation, the Arboretum is mixed terrain and is here for a nice stroll, a great hike, or
        simply escaping for the day. The Arboretum will exist for decades to come, and has existed in its current
        state
        for well over a century. We hope to encourage ecological restoration of the 175.5 acre area as a "New Old
        Growth
        Forest" where nature will define your paths to cross and experience all that the Arboretum has to offer.
      </p>
      <h2>Mission Statement</h2>

      <blockquote>
        "The Sehome Hill Arboretum is conceived of as a natural area devoted to educational, aesthetic, recreational
        and
        research purposes; and all development shall be compatible with this ecological concept.”
      </blockquote>
      <h2>Something for Everyone at the Arboretum!</h2>
      <ul>
        <li>Students - listen to the sounds of nature as you study.</li>
        <li>Hikers - appreciate the multitude of trails while you enjoy the scenery.</li>
        <li>Families - enjoy the different birds and other animals who make the Arboretum their home.</li>
        <li>Retirees - take time to enjoy nature. You deserve it!</li>
      </ul>
      <h2> Related Links</h2>
      <p>
      <ul>
        <li><a href="https://cob.org/">City Of Bellingham</a></li>
        <li><a href="https://www.wwu.edu/">Western Washington University</a></li>
      </ul>
      </p>
    
  
		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
