---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Get Involved | Sehome Hill Arboretum | Western Washington University">
	<!-- The main element starts here, according to  layout.astro -->
	<div class="page-content">
		<div class="region-wrapper">

            <h1>Get Involved</h1>
            <br>
            <p>Sehome Hill Arboretum would like to work with you! To improve education about conservation and help keep
                this site updated, there are a variety of projects you can tackle. The Sehome Hill Arboretum site can be
                a place of
                learning and growth for you and your greater community. Here are a few ideas of work you and your team
                can put together.
            </p>

            <h2>Ecological Restoration Club</h2>
            <p>
                The Ecological Restoration Club hosts weekly work parties in and around Sehome Hill Arboretum, offering
                a chance for students to get involved in restoration and land stewardship. Explore their website
                www.serwwu.org for more information on getting involved.
            </p>
            <p>
                Also, please Explore <a href="https://win.wwu.edu/organization/ecological-restoration"> Students
                    for Ecological Restoration </a> for more information.</p>

            <h2>Current Needs</h2>
            <ul>
                <li>Botanical sketching for the Plants and Fungi pages</li>
                <li>Add info to the Fungi page</li>
                <li>Fiction, non-fiction, and poetry about what the Arboretum means to you</li>
                <li>Writing fun facts about each bird species found in the Arboretum</li>
                <li>Soundscape recordings</li>
                <li>Printable PDF field guides for flora and fauna</li>
                <li>Interpretive information for website, signs, flyers, or geolocated information</li>
                <li>VR video recording of a walk through the Arboretum</li>
                <li>Grant writing</li>
                <li>Organize an Event in the Arboretum</li>
                <ul>
                    <li>
                        <a href="https://cob.org/services/recreation/rental-facilities/special_events">Please visit the
                            City of Bellingham official webpage that describes how to obtain the correct permissions
                            required to set up a formal event.</a>
                    </li>
                </ul>
                <li>Any other ideas you can come up with!</li>
            </ul>
			    
  
		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
