---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Get Involved | Sehome Hill Arboretum | Western Washington University">
	
	<div class="page-content">
		<div class="region-wrapper">

            <h1>Get Involved</h1>
            
            <p>Sehome Hill Arboretum would like to work with you. To improve education regarding conservation and to help keep
                this site updated, there are a variety of projects you can tackle. The Sehome Hill Arboretum site can be a place of learning and growth for you and your greater community. Below are a few ideas for work you and your team can put together.
            </p>

            <h2>Ecological Restoration Club</h2>
            <p>
                The Ecological Restoration Club hosts weekly work parties in and around Sehome Hill Arboretum, offering
                a chance for students to get involved in restoration and land stewardship.<a href="">Explore the Ecological Restoration Club website</a> for more information on getting involved.
            </p>
            <p>
                <h3>More Information</h3>
                Also, please Explore <a href="https://win.wwu.edu/organization/ecological-restoration"> Students
                    for Ecological Restoration </a> for more information.
                </p>

            <h2>Current Needs on the Hill</h2>
            <ul>
                <li>Botanical sketching for the Plants and Fungi pages</li>
                <li>Add more information to the Fungi, herbs, and history  pages </li>
                <li>Fiction, non-fiction, and poetry about what the Arboretum means to you</li>
                <li>Write factual information about observed bird species found in the Arboretum</li>
                <li>Soundscape recordings</li>
                <li>Printable PDF field guides for flora and fauna</li>
                <li>Interpretive information for website, signs, flyers, or geolocated information</li>
                <li>XR recordings of walk throughs of the Arboretum. These "walks" will hopefully provide equitable access to the data we have been recording over the past several years to ensure equitable access for all Western stakeholders.</li>
                <li>Grant writing to help provide lasting and structural funding in order to sustainably support the effort to provide a fully accessible and dynamic Western Sehome Hill Arboretum Website (WSHAW)</li>
<li>Any other ideas you can come up with!</li>
            </ul>
			    
  
		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
