---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maps | Sehome Hill Arboretum | Western Washington University">
  
  <div class="page-content">
    <div class="region-wrapper">
      <h1>Mapping Resources for the Sehome Hill Arboretum</h1>
      <h2>Printable Maps</h2>
      <ul>
        <li>
          <p>
            <a href="https://www.google.com/maps/place/Sehome+Hill+Arboretum/@48.7354156,-122.4824516,17z/data=!4m7!3m6!1s0x5485a3cc3dc56b37:0x2d9f1a3f306a64ff!4b1!8m2!3d48.7354156!4d-122.4798767!16zL20vMDc1Zmd2?entry=ttu&g_ep=EgoyMDI1MDIyMy4xIKXMDSoASAFQAw%3D%3D"
              target="_blank">
              Sehome Hill Arboretum maps on Google Maps.</a>
</li>
            </p>
        
        <li>
          <p>
            <a href="https://cob.org/wp-content/uploads/Sehome_Arboretum_Map_20180521.pdf">
              A recent Sehome Hill Arboretum map from the City of Bellingham</a>
          </p>
          </li>
          </ul>

          <h2>Directions</h2>
          <h3>How to get to Sehome Hill From I-5:</h3>
          <ol>
            <li>
              Take the Samish Way exit (Exit 252) to Bill MacDonald Parkway.
            </li>
            <li>
              Continue up Bill McDonald Parkway until you reach the edge of
              Western Washington University.
            </li>
            <li>
              Turn right on the road just before Buchanan Towers (across from
              the Washington Archive Building at 26th).
            </li>
            <li>
              From this point, you may continue up to the top of Sehome Hill and park, or park at the base of Sehome Hill and use the trails to navigate the Arboretum.</li>
          </ol>

          <h2>Previous Mapping Projects</h2>
<ul>
  <li>
    <a href="/2010Map.html">Map created in 2010. Check it out, it's an interesting method of delivering information. Note that not all of the features offerred in the digital map are still available. Mother nature has changed several features over the years since this map was created.</a>
  </li>
</ul>

<h2>Current projects</h2>
          <h3>Sounds Of the Arboretum</h3>
          <p>
            <a href="https://storymaps.arcgis.com/stories/92c48117b8414e42bca5e21bedbdeae9">The Sehome Hill Arboretum Sound Map</a> is an interactive map of the Arboretum capturing the variety of sounds of the Sehome Hill. Each soundscape has a journal entry attached, describing what the author sees and hears. This is an ongoing project led by Dr. Felicia Youngblood.
            </p>

          <h2>Future Improvements To The Sehome Hill Arboretum Maps</h2>
          <p>
            Stay tuned for a listing of other mapping projects that Faculty, Staff, and Students at Western Washington University are working on to help ecologically and sustainably maintain the Sehome Hill Arboretum as a place for all to enjoy equitably with a focus on community safety and accessible access.
          </p>

          </div>
  </div>
  </Layout>
