---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Old History Page | Sehome Hill Arboretum | Western Washington University"
>
  <!-- The main element starts here -->
  <div class="page-content">
    <div class="region-wrapper">
      <h1>The Human History of Sehome Hill</h1>
      <p>
        The human history of Sehome Hill Arboretum is layered and greater than
        what can be accounted for on a single website. The history covered here
        encompasses an overview of settler-colonialist activity on the hill and
        subsequent institutional activity. The Arboretum is situated on the
        homelands of the Coast Salish Peoples (specifically the Lummi Nation and
        the Nooksack Tribe), who have lived in the Salish Sea basin, throughout
        the San Juan Islands and the North Cascades watershed, from time
        immemorial.
      </p>
      <h2>1850: Mining</h2>
      <p>
        In the 1850's, coal-mining claims were made on the land known today as
        Fairhaven and Sehome Hill. Two scouts for Henry Roeder's lumber mill,
        Henry Hewitt and William Brown, found coal on the hill. Following this
        discovery, the Bellingham Bay Coal Company was created and mining
        officially began in 1855.
      </p>

      <p>
        Rights to the land were sold to a San Francisco-based company. A city
        developed to support the community shipping the coal from Washington
        state to California. Homes, stores, sailing schooners, and a dock sprung
        up around the mine and were the essence of the newly established town of
        Sehome.
      </p>

      <p>
        At the height of production, the mine employed 125 workers. Because of
        fires, cave-ins, floods, poor mining, and a volatile economy, the number
        of workers diminished dramatically. All of this caused the mine to
        intermittently close until its permanent abandonment in 1878. The town's
        population fell to 100 people in the beginning of the 1880's.
      </p>

      <h2>1891: Donating and Surveying Land</h2>
      <p>
        Beginning with C.X. Larrabee’s donation, parcels of land were
        distributed to the towns of Fairhaven and New Whatcom in 1891. These
        land parcels created an overlap between the city limits of both towns.
        Many city leaders supported the idea of converting Sehome Hill into a
        park. J. J. Donovan, of the Bloedel Donovan Lumber Mills, surveyed the
        land to get an understanding of the Hill's potential.
      </p>

      <h2>1904: Logging Ceased</h2>
      <p>
        Clear cut logging depleted most of Sehome Hill's old growth ecosystem,
        but this practice ceased in 1904, allowing the Hill once more to be
        covered with various species of tree.
      </p>

      <img
        class="photocenter"
        id="img-wwu-normalschool"
        src="src/img/History/Whatcom Museum 1976.13.9.webp"
        alt="Brick building of the Normal School, now Western Washington University, circa 1908."
      />
      <p class="photocaption">
        The Normal School (photo courtesy of Whatcom Museum)
      </p>

      <h2>1915: The Normal School</h2>
      <p>
        After sixteen years of providing education, the Normal School, currently
        the site of Western Washington University, found itself surrounded by
        the growing Sehome Hill Park. In 1915, the school purchased the area
        behind its building (today Old Main). With that acquisition, the Normal
        School established partial-control over Sehome Park.
      </p>

      <h2>1922: Developing the Parks Amenities</h2>
      <p>
        Huntoon Drive, which was explored in 1922 by the group including members
        of the Bellingham Park Board (and E.T. Mathes), eventually was extended
        to the Sehome Hill Summit. This extension created a looped road starting
        right behind the Normal School and returning back on what is currently
        Arboretum Drive
      </p>

      <p>
        The Drive included a hand-dug tunnel and a parking area at the summit
        with an unobstructed view of the Canadian mountains and Bellingham Bay.
        The parking area quickly became known as the destination to take your
        sweetheart. Both the tunnel and the parking lot exist today.
      </p>
      <div id="img-huntoon" class="photorow">
        <img
          src="src/img/History/Whatcom Museum 1980.74.802.webp"
          alt="An old car driving down a narrow dirt road beside a rock wall."
        />
        <img
          src="src/img/History/Whatcom Museum 1996.10.257.webp"
          alt="A car turns and drives out of the tunnel on Huntoon Drive."
        />
        <img
          src="src/img/History/Whatcom Museum 1996.10.12631.webp"
          alt="15-20 identical cars drive into a clearing at the top of Sehome Hill, overlooking the city. Few trees are present at this time due to clear cutting."
        />
      </div>
      <p class="photocaption">
        Huntoon Drive (photos courtesy of Whatcom Museum)
      </p>

      <h2>1923: Tunnel Through Time</h2>
      <p>
        For over 90 years, large Douglas Firs have stood watch over this tunnel
        and witnessed many changes. In 1923, workmen chiseled the tunnel by hand
        through the sandstone for Huntoon Road. Model-T Fords sputtered in and
        out on Sunday drives.
      </p>

      <p>
        In 1967, the Huntoon Road was closed to cars, and Sehome Hill became an
        arboretum. Now the tunnel walls echo with the symphony of bird calls and
        the voices of people enjoying this sanctuary in the middle of
        Bellingham.
      </p>

      <p>
        Presently, this road is the main walking path from Western Washington
        University to the top of Sehome Hill.
      </p>

      <h2>1961: Landslide</h2>
      <p>
        In 1961, a large landslide destroyed part of Huntoon Drive just behind
        the Normal School campus. During repairs, the road was widened into a
        two-way road. The loop (nearest the landslide) that was formerly a
        lookout turned into a walking path, and the trees grew to obstruct the
        view.
      </p>
      <!--<img class="history" src="src/img/History/logging.webp" alt="">-->

      <h2>1969: Arboretum Established</h2>
      <p>
        The forest trees found in the Arboretum had not been harvested since
        1904 and in the 1960s prospective loggers found a takeover full of
        possibilities. Faced with the logging threat, the park’s overseers
        realized the importance of transforming the Hill into a protected
        arboretum.
      </p>

      <p>
        In May of 1969, the college board of trustees approved Sehome Hill’s
        status as an arboretum. Initially, 38 acres were set aside for the
        project; then in 1974, 100 acres were officially preserved for arboretum
        land. The Sehome Hill Arboretum Board of Governors was soon established
        to look after the interests of the Hill.
      </p>
      <img
        class="photocenter"
        id="img-protest"
        src="src/img/History/protest.webp"
        alt="Western Washington University students protest litter of Arboretum by displaying truck full of trash on campus"
      />
      <p class="photocaption">
        A protest in WWU's Red Square in April 1970 (photo courtesy of Whatcom
        Museum)
      </p>
    </div>
    <!-- class region-wrapper -->
  </div>
  <!-- class page-content -->
</Layout>
