---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Plants | Sehome Hill Arboretum | Western Washington University">
  <!-- The main element starts here -->
  <div class="page-content">
    <div class="region-wrapper">
      <h1>Plant Guide</h1>

      <div class="grid-column-count--2 column--25-75">
        <p>
          The Sehome Hill Arboretum is home to a multitude of tree species. The
          green natural mass shows all of its vast array of evergreen and
          deciduous foliage from miles away throughout the year. But there are
          more than just trees within the Sehome Arboretum. Numerous shrubs,
          herbs, ferns, and (unfortunately) invasive species take shelter in the
          shade. Below are some of the most frequent indigenous species that can
          typically be found during leisurely strolls. You can learn how to spot
          them and how to categorize them.
        </p>

        <nav aria-label="Plants on Sehome Hill">
          <ul class="menu">
            <li><a href="#conifer">Coniferous Trees</a></li>
            <li><a href="#deciduous">Deciduous Trees</a></li>
            <li><a href="#shrub">Shrubs</a></li>
            <li><a href="#other">Ferns</a></li>
            <!-- <li><a href="#herbs">Herbs</a></li> -->
          </ul>
        </nav>
      </div>

      <h2 class="text-align-center blue-bg standard-padding" id="conifer">
        Coniferous Trees
      </h2>

      <div class="grid-column-count--3">
        <div class="grid-item">
          <h3 class="no-margin--top">Douglas Fir (Pseudotsuga menziesii)</h3>

          <img
            src="src/img/plants/new_dougfir.webp"
            alt="Looking up at the trunk of a (~50 foot) Douglas Fir, with sparse boughs emerging in all directions."
          />
          <h4 class="standard-margin--top">Bark</h4>
          <p>
            On younger specimens the bark is gray and smooth. Older specimens
            have a thick, corky bark that is often dark chocolate-brown in
            color. For older trees, the thick bark serves as a protective layer
            that can save the tree from being damaged in a forest fire.
          </p>
          <h4 class="standard-margin--top">Foliage</h4>
          <p>
            Douglas fir is distinguished by its thin, flat, one inch-long
            evergreen needles that are pointed but soft to the touch. . They
            produce light brown cones that have distinctive three-pronged bracts
            or "tails" extending from between the scales. Unlike true fir trees,
            the cones hang down from the branches rather than standing upright.
          </p>
          <h4 class="standard-margin--top">Size</h4>
          <p>
            Commonly grow up to 250 feet tall and 5-6 feet in diameter, and can
            live for over 500 years. Truly large old growth Douglas firs have
            been reported to reach over 300 feet in height and 10 ft in
            diameter, making them among the largest trees in the world. The
            Douglas fir is the most abundant tree in the Arboretum as well as
            the most economically valuable timber tree in North America.
          </p>
        </div>

        <div class="grid-item">
          <h3 class="no-margin--top">Western Hemlock (Tsuga heterophylla)</h3>

          <img
            src="src/img/plants/new_westernhemlock.webp"
            alt="CloseUp of dense western hemlock branches, showing its needles and pine cones."
          />

          <h4 class="standard-margin--top">Bark</h4>
          <p>
            Dark brown to reddish-brown bark, with a rough texture and
            relatively shallow vertical furrows.
          </p>
          <h4 class="standard-margin--top">Foliage</h4>
          <p>
            Western hemlock is distinguished by its flat, blunt-tipped
            emerald-green needles. The needles come in two lengths with the
            shorter ones standing erect on the top of the twig, giving hemlock
            branches a noticeably furry appearance. The cones are small, less
            than an inch in length, and hang down from the ends of the branches.
          </p>
          <h4 class="standard-margin--top">Size</h4>
          <p>
            Western hemlock typically grows to about 98 to 164 feet in height
            and to about 4 feet in width. Western hemlock is a very
            shade-tolerant tree and prefers to germinate and grow in the
            understory of its taller neighbors. The best trick to identifying a
            western hemlock tree is to look at the growing tip (or leader) of
            the tree, which is usually drooping rather than erect like in most
            other conifers.
          </p>
        </div>

        <div class="grid-item">
          <h3 class="no-margin--top">Western Red Cedar (Thuja plicata)</h3>

          <img
            src="src/img/plants/new_redcedar1.webp"
            alt="A red cedar's middle section, showing its reddish trunk and drooping scale-like needles."
          />

          <h4 class="standard-margin--top">Bark</h4>
          <p>
            Brownish-red stringy bark with very shallow vertical furrows,
            appearing grayish-red in some cases.
          </p>
          <h4 class="standard-margin--top">Foliage</h4>
          <p>
            Sharp pointed scale-like leaves with a mossy green hue that overlap
            like shingles. They are organized in flat sequences. The branches
            droop down but turn up noticeably at the ends. Numerous small cones
            grow in a bent back position along the branch.
          </p>
          <h4 class="standard-margin--top">Size</h4>
          <p>
            The largest of all cedar species, Western red cedar grows up to 150
            to 200 feet tall. Labeled the broadest tree in the Northwest, its
            buttressed base spans from 2 to 8 feet in diameter, with some
            old-growth specimens surpassing 15 to 20 feet diameter at ground
            level. In ideal locations individual Western red cedars can live
            over 1,000 years.
          </p>
        </div>
      </div>

      <h2 class="text-align-center blue-bg standard-padding" id="deciduous">
        Deciduous Trees
      </h2>

      <div class="grid-column-count--2 column--50-50">
        <div class="grid-item">
          <h3 class="no-margin--top">Red Alder (Alnus rubra)</h3>

          <img
            src="src/img/plants/new_alder2.webp"
            alt="Red Alder tree trunks, showing their white bark with dark spots."
          />

          <h4 class="standard-margin--top">Bark</h4>
          <p>
            Red alder has thin, smooth, gray bark, often with patches of white
            lichen.
          </p>
          <h4 class="standard-margin--top">Foliage</h4>
          <p>
            Wavy, toothed, oval-shaped leaves with edges that are slightly
            rolled under. Large catkins appear in spring, producing small brown
            cone-like fruits less than an inch long.
          </p>
          <h4 class="standard-margin--top">Size</h4>
          <p>
            Red alder grows rapidly and reaches 40 to 80 feet in height with
            stems 10 to 34 inches in diameter. A single alder may produce
            multiple-stemmed trunks all from the same root system. This tree
            requires plenty of light so look for it in the breaks between stands
            of coniferous trees. The crown of an alder tree is relatively
            narrow, distinguishing it from Bigleaf maple.
          </p>
        </div>

        <div class="grid-item">
          <h3 class="no-margin--top">Big Leaf Maple (Acer macrophyllum)</h3>

          <img
            src="src/img/plants/new_bigleafmaple2.webp"
            alt="Looking up at a 50 foot big leaf maple, with many wavy branches full of green five-pointed leaves."
          />

          <h4 class="standard-margin--top">Bark</h4>
          <p>Smooth gray with vertical brown grooves.</p>
          <h4 class="standard-margin--top">Foliage</h4>
          <p>
            Large, palmately shaped leaves that consist of five lobes with very
            few teeth and can easily measure up to a foot across. Maples have
            their leaves arranged opposite each other in pairs on twigs, rather
            than the alternating leaf arrangement typical of most deciduous
            trees.
          </p>
          <h4 class="standard-margin--top">Size</h4>
          <p>
            Grows from 50 to 100 feet in height with a broad crown. Large
            individuals will frequently have multiple-stemmed trunks, with each
            stem up to 3 feet in diameter.
          </p>
        </div>
      </div>

      <h2 class="text-align-center blue-bg standard-padding" id="shrub">
        Shrubs
      </h2>

      <div class="grid-column-count--3">
        <div class="grid-item">
          <h3 class="no-margin--top">Tall Oregon Grape (Mahonia aquifolium)</h3>

          <img
            src="src/img/plants/new_oregongrape.webp"
            alt="The tall oregon grape shrub's have blue berries and leathery, spiny green leaves."
          />

          <p>
            One of the most prominent traits of Tall Oregon Grape is the
            superficial similarity of its leaf to that of a Holly tree. The
            leaves of both plants have a shiny surface, a leathery texture, and
            a spiny edge. The difference is that Oregon grape actually has a
            compound leaf, and what appear to be individual leaves are
            leaflets--with five to nine of them making up each actual leaf. Tall
            Oregon Grape grows approximately five to six feet in height. Small
            clusters of yellow flowers appear before the edible blue berries.
          </p>
        </div>
        <div class="grid-item">
          <h3 class="no-margin--top">
            Indian Plum/Osoberry (Oemleria cerasiformis)
          </h3>

          <img
            src="src/img/plants/new_indianplum.webp"
            alt="Flower of an Indian plum shrub, with narrow leaves pointed upward and drooping white five-pointed flowers."
          />

          <p>
            Indian Plum is a large native shrub that can grow up to thirteen
            feet tall. The leaves are shaped like a knife blade and are two to
            five inches long. If the leaves are damaged, they smell like
            cucumbers. The five-petaled waxy blossoms droop in white clusters.
            The flowers turn into a bitter but edible plum-like fruit.
          </p>
        </div>
        <div class="grid-item">
          <h3 class="no-margin--top">Snowberry (Symphoricarpos albus)</h3>

          <img
            src="src/img/plants/new_snowberry.webp"
            alt="Snowberry's white, grape-sized berries hanging below its rounded leaves."
          />

          <p>
            Snowberry is a medium sized shrub and is distinguishable by its
            oval-shaped leaves arranged as opposite pairs along a round stem.
            Its creamy or pinkish tubular flowers precede the inedible white
            berries in the fall.
          </p>
        </div>
      </div>

      <h3 class="no-margin--top">There's More Shrubs!</h3>
      <p>
        These are only a few of the shrubs that flourish in the Arboretum.
        Others include Salmonberry (Rubus spectabilis), Salal (Gaultheria
        shallon), Oceanspray/Ironwood (Holodiscus bicolor), and Thimbleberry
        (Rubus parviflorus).
      </p>

      <h2 class="text-align-center blue-bg standard-padding" id="other">
        Ferns
      </h2>

      <div class="grid-column-count--2 column--50-50">
        <div class="grid-item">
          <h3 class="no-margin--top">Ferns</h3>
          <img
            src="src/img/plants/new_ferns.webp"
            alt="CloseUp of a fern with sun shining through it"
          />
          <p>
            The maritime climate of the Arboretum fosters a temperate
            environment for an array of plants. Under the canopy of trees and
            shrubs, the trails are flanked by sword ferns and a varied coat of
            moss that covers everything from the trunks of overhanging trees to
            rock outcroppings and fallen logs. During summer, blue Forget-me-not
            flowers contrast with the predominantly green leaves, nodding in the
            breezes along the trail.
          </p>
        </div>
      </div>
      <!-- class region-wrapper -->
    </div>
    <!-- class page-content -->
  </div>
</Layout>
