---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rules | Sehome Hill Arboretum | Western Washington University">
  <!-- The main element starts here -->
  <div class="page-content">
    <div class="region-wrapper">
      <h1>Sehome Hill Arboretum Rules and Regulations</h1>
      <div class="align-center text-align-center">
        <!--<img src="src/img/Rules/rules.webp" class="photocenter" id="rulesimg" alt="" />-->
        <p class="photocaption">
          Enjoy your visit to this native plant arboretum, and please observe
          the rules and regulations to protect the Sehome Hill Arboretum.
        </p>
      </div>

      <div
        class="grid-column-count--2 column--50-50 double-margin"
        aria-label="Arboretum Rules - Dos and Don'ts"
      >
        <div class="lightest-gray-bg standard-padding">
          <h2 class="no-margin--top">Things To Do</h2>
          <ul>
            <li>Visit from <strong>6:00 A.M. - dusk</strong></li>
            <li>Stay on designated trails</li>
            <li>Keep dogs on a leash</li>
            <li>Pack trash out</li>
            <li>Use litter receptacles</li>
            <li>Observe noise level regulations</li>
            <li>Give space to wildlife</li>
          </ul>
        </div>
        <div class="lightest-gray-bg standard-padding">
          <h2 class="no-margin--top">Please Do Not</h2>
          <ul>
            <li>Remove or destroy natural vegetation</li>
            <li>
              Ride bicycles, motor vehicles, or horses off of the main road
            </li>
            <li>Consume alcoholic beverages</li>
            <li>Smoke or vape</li>
            <li>Bring or discharge firearms</li>
            <li>Camp overnight</li>
            <li>Start fires or fireworks</li>
            <li>Feed wildlife</li>
            <li>Paint or vandalize rocks and other natural features</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- class region-wrapper -->
  </div>
  <!-- class page-content -->
</Layout>
