---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Seasons | Sehome Hill Arboretum | Western Washington University">
  
  <div class="page-content">
    <div class="region-wrapper">
      <h1>A Trip Around The Sun</h1>

      <h2>Seasons on the Hill</h2>
      <h3>Fall</h3>
      <h4>Pictures</h4>
      <img
        src="src/img/Seasons of the Hill Page/viewfromtower.seasonsofthehill.webp"
        alt="From the Sehome Hill observation tower; the day is cloudy and grey while overlooking the treetops of the Sehome Hill Arboretum, with downtown Bellingham splaid out beyond the trees." />
      <p>
        Image credit: Natasha Mauerman
        <br />
        An October view of Bellingham from the Sehome Hill Arboretum’s observation tower. </p>
      
      <br />
      <img
        src="src/img/Seasons of the Hill Page/yellowtrees.seasonsofthehill.webp"
        alt=" A single tree, tall and thin and bare, stands out within the leafy yellow and green forest on Sehome Hill while reaching toward a pale blue sky." />
      <p>
        Image credit: Natasha Mauerman
        <br />
        Leaves change to brilliant colors in the Fall on the Sehome Hill Arboretum.
      </p>

      <br />

      <h3>Winter</h3>
      <h4>Pictures</h4>
      <img
        src="src/img/Seasons of the Hill Page/snowyarea.seasonsofthehill.webp"
        alt="A snowy open space that forks into two paths, surrounded by snow-crested tree branches."
      />
      <p>
        Image credit: Natasha Mauerman
        <br />
        Trails in the Arboretum after late February snowfall.
      </p>
      
      <br />
      <img
        src="src/img/Seasons of the Hill Page/dogwalk.seasonsofthehill.webp"
        alt="A dog walks on a snowy path through the Arboretum at dusk." />
      <p>
        Image credit: James Schultz
        <br />
        An evening walk through the snowy Sehome Hill Arboretum with a canine friend. </p>
      
      <br />

      <h3>Spring</h3>
      <h4>Pictures</h4>
      <img
        src="src/img/Seasons of the Hill Page/sunnytrail.seasonsofthehill.webp"
        alt="A dirt path winds through a lush green forest on a bright blue and cloudless day on the Sehome Hill Arboretum." />
      <p>
        Image credit: Natasha Mauerman
        <br />
        The Arboretum’s leaves from majestic trees shine bright green in late May.
      </p>
      <br />
      
      <img
        src="src/img/Seasons of the Hill Page/mossyrock.seasonsofthehill.webp"
        alt="A tree grows atop a mossy sandstone hill in the Arboretum." />
      <p>
        Image credit: James Schultz
        <br />
        Sandstone from the Chuckanut Formation is exposed throughout the Arboretum.
      </p>
      
      <br />

      <h3>Summer</h3>
      <h4>Pictures</h4>
      <img
        src="src/img/Seasons of the Hill Page/treessunset.seasonsofthehill.webp"
        alt="A view looking upward from the trunk of a tall tree with the forest canopy on Sehome Hill at sunset in the background." />
      <p>
        Image credit: James Schultz
        <br />
        The setting sun casts a golden light on the Sehome Hill Arboretum’s trees.
      </p>
    </div>
    <!-- class region-wrapper -->
  </div>
  <!-- class page-content -->
</Layout>
