---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Student Work | Sehome Hill Arboretum | Western Washington University"
>
  <!-- The main element starts here -->
  <div class="page-content">
    <div class="region-wrapper">
      <h1>Student Work</h1>
      <h2>Botanical Drawings from Technical Drawing (ID 110) Students</h2>
      <p>
        Below are the drawings with the plant name, the artist credit, image
        description, and alt text.
      </p>

      <h3>
        Big Leaf Maple (Acer macrophyllum), Uncredited, ID 110, Winter 2025
      </h3>
      <p>
        Native to North America, big leaf maples have thick-trunked bases and
        large leaves. Many people use these deciduous trees for culinary and
        woodworking purposes.
      </p>
      <img
        src="src/img/student_work/BigLeafMaple.student work.webp"
        alt="Hand-sketched artwork depicting a big leaf maple leaf and tree trunk."
      />
      <br /><br />
      <h3>
        Blackcap Raspberry (Rubus occidentalis) by Una Nei, ID 110, Winter 2025
      </h3>
      <p>
        The blackcap raspberry is a thorny deciduous shrub native to eastern
        North America. Its small, black ripe berries offer a sweet and tangy
        alternative to invasive blackberry plants.
      </p>
      <img
        src="src/img/student_work/BlackcapRaspberry.student work.webp"
        alt="Hand-sketched artwork depicting black cap raspberry, detailing its berry, blossom, leaf, and branch."
      />
      <br /><br />
      <h3>
        Buttercup (Ranunculus repens) by Brenden Hungerford, ID 110, Winter 2025
      </h3>
      <p>
        Buttercup, also known as “spearworts'” or “water crowfoots,” belongs to
        the large genus Ranunculus, which includes over 1,750 species in the
        Ranunculaceae family. This common weed features a thin stem, narrow
        leaflets, and a glossy golden flower that makes your chin glow yellow!
      </p>
      <img
        src="src/img/student_work/Buttercup.student work.webp"
        alt="Hand-sketched artwork depicting Buttercup, detailing its leaf and life cycle from bud to blossom to bloom."
      />
      <br /><br />
      <h3>
        Douglas Fir (Pseudotsuga menziesii), Uncredited, ID 110, Winter 2025
      </h3>
      <p>
        Douglas Fir trees are an evergreen conifer species native to the
        mountains and coast of western North America. They produce needle-like
        leaves and pinecones that emerge in spring and drop in the fall. Growing
        up to 300 feet tall, they shape the Arboretum’s landscape into a “new”
        old-growth forest.
      </p>
      <img
        src="src/img/student_work/Douglasfir.student work.webp"
        alt="Hand-sketched artwork depicting douglas fir trunk, needles, and cones."
      />
      <br /><br />
      <h3>
        Evergreen Huckleberry (Vaccinium ovatum) by Riley Reynolds, ID 110,
        Winter 2025
      </h3>
      <p>
        Evergreen Huckleberry is a North American shrub that belongs to the
        heather family. Its small, dark-blue berries provide wildlife and
        visitors with a tart, tasty treat throughout the Arboretum from late
        fall to early winter.
      </p>
      <img
        src="src/img/student_work/EvergreenHuckleberry.student work.webp"
        alt="Hand-sketched artwork depicting evergreen huckleberry leaves, flower, fruit, and shrubs."
      />
      <br /><br />
      <h3>
        Himalayan Blackberry (Rubus armeniacus) by Ana Anderson, ID 110, Winter
        2025
      </h3>
      <p>
        The Himalayan Blackberry is a thorny perennial plant native to Armenia
        and Northern Iran that acts as an invasive species worldwide.
      </p>
      <img
        src="src/img/student_work/HimalayanBlackberry.student work.webp"
        alt="Hand-sketched artwork depicting Himalayan blackberry leaf, flower, berry, and root."
      />
      <br /><br />
      <h3>Ivy (Hedera helix) by Adrienne McKenna, ID 110, Winter 2025</h3>
      <p>
        Ivy, an evergreen perennial vine native to Europe and parts of Asia,
        originally arrived in North America as ornamental ground cover. However,
        it has spread aggressively, invading forests, parks, and other green
        spaces ultimately threatening local ecology.
      </p>
      <img
        src="src/img/student_work/Ivy.student work.webp"
        alt="Hand-sketched artwork depicting ivy leaves and the life cycle of its berries."
      />
      <br /><br />
      <h3>
        Morning Glory (Ipomoea purpurea) by Maya Weakley, ID 110, Winter 2025
      </h3>
      <p>
        Morning glory’s Latin name Ipomoea comes from the Greek words “ips” for
        “worm” and “homoios” for “like” because of the plant’s worm-like stem.
        Its purple trumpet-shaped flowers weave around structures such as
        buildings and trees throughout the Arboretum. Historically, people in
        China have used its seeds as a laxative, and in large doses, the seeds
        produce psychedelic effects.
      </p>
      <img
        src="src/img/student_work/MorningGlory.student work.webp"
        alt="Hand-sketched artwork depicting morning glory’s intricate stem, flower, and various types of leaves."
      />
      <br /><br />
      <h3>
        Ocean Spray (Holodiscus discolor) by Uncredited, ID 110, Winter 2025
      </h3>
      <p>
        Ocean spray grows in open forests like the Arboretum and is native to
        British Columbia and Southern California. Its spiked leaves and
        clustered small white flowers bloom with a sweet scent from June to
        July. Also called “ironwood,” this plant provided Indigenous peoples
        with durable wood for utensils, tools, and other purposes.
      </p>
      <img
        src="src/img/student_work/OceanSpray.student work.webp"
        alt="Hand-sketched artwork depicting an ocean's spray flower, leaf, stem, fruit, and bush."
      />
      <br /><br />
      <h3>
        Oregon Grape (Berberis aquifolium) by Dani M.-S., ID 110, Winter 2025
      </h3>
      <p>
        The Oregon Grape, which is Oregon’s state flower, is an evergreen shrub
        with spiny leaves. It blooms with small yellow flowers in early spring
        that develop into dark blue berries.
      </p>
      <img
        src="src/img/student_work/OregonGrape.student work.webp"
        alt="Hand-sketched artwork depicting Oregon grape leaf, flower, bush, fruit, and stem."
      />
      <br /><br />
      <h3>
        Oso Berry (Oemleria cerasiformis) by Katrina Bushman, ID 110, Winter
        2025
      </h3>
      <p>
        Oso berry is a fast-growing shrub with reddish-brown twigs that boast
        oblong leaves and, when in bloom, a fragrant white flower and bitter
        plum fruit.
      </p>
      <img
        src="src/img/student_work/OsoBerry.student work.webp"
        alt="Hand-sketched oso berry plant, detailing branch appearance and female and male flower."
      />
      <br /><br />
      <h3>
        Pacific Rhododendron (Rhododendron macrophyllum) by Pauli A., ID 110,
        Winter 2025
      </h3>
      <p>
        The Pacific rhododendron, Washington state's official flower, signals
        the arrival of spring with its multi-colored flowers blooming in large,
        tall patches across the Arboretum.
      </p>
      <img
        src="src/img/student_work/PacificRhodoendron.student work.webp"
        alt="Hand-sketched artwork depicting a pacific rhododendron’s flower, leaf, pistil, and stamen."
      />
      <br /><br />
      <h3>
        Plantain (Plantago lanceolata) by Jake Taylor, ID 110, Winter 2025
      </h3>
      <p>
        The plantain plant is a common weed that grows in meadows, gardens, and
        lawns, flowering year-round. Indigenous populations have long used it as
        a first aid remedy to seal wounds and draw out infections.
      </p>
      <img
        src="src/img/student_work/PlantagoPlantain.student work.webp"
        alt="Hand-sketched artwork depicting a plantain plant, detailing its broad leaf and lanceolate."
      />
      <br /><br />
      <h3>
        Red Flowering Currant (Ribes sanguineum) by Ayla Metz, ID 110, Winter
        2025
      </h3>
      <p>
        The red flowering currant blooms with clusters of pink and red flowers
        that attract pollinators like bees, butterflies, and hummingbirds. These
        become blue-black berries that provide food for birds.
      </p>
      <img
        src="src/img/student_work/RedFloweringCurran.student work.webp"
        alt="Hand-sketched artwork depicting red flowering currant bush, clusters of flowers, and berries."
      />
      <br /><br />
      <h3>
        Red Huckleberry (Vaccinium paruifolia), Uncredited, ID 110, Winter 2025
      </h3>
      <p>
        The red huckleberry, a deciduous shrub native to western North America,
        grows bright green shoots and ovate leaves that produce edible red
        berries. Birds, bears, small mammals, and humans enjoy the fruit.
      </p>
      <img
        src="src/img/student_work/RedHuckleberry.student work.webp"
        alt="Hand-sketched artwork depicting red huckleberry berry, blossom, and branch."
      />
      <br /><br />
      <h3>
        Red Osier Dogwood (Cornus sericea) by Phoebe Setter, ID 110, Winter 2025
      </h3>
      <p>
        The red osier dogwood is a sticky red shrub in winter. In late May or
        early June, its flowers bloom, then become berries during late summer.
        This plant is commonly found in wet North American areas and can grow to
        be seven to nine feet tall. Ninety-five species of birds eat its
        berries.
      </p>
      <img
        src="src/img/student_work/RedOsierDogwood.student work.webp"
        alt="Hand-sketched artwork depicting Red osier Dogwood bush, leaves, flower, and berries."
      />
      <br /><br />
      <h3>Salal (Gaultheria shallon) by Ella Thompson, ID 110, Winter 2025</h3>
      <p>
        Salal is a resilient evergreen shrub native to North America’s Pacific
        coast. It grows leathery, glossy leaves and reddish to blue berries that
        are edible but bland. The salal can grow up to ten feet, but averages at
        two to four feet.
      </p>
      <img
        src="src/img/student_work/Salal.student work.webp"
        alt="Hand-sketched artwork depicting salal stem, bud, berry, and leaves."
      />
      <br /><br />
      <h3>Salmonberry (Rubus spectabilis) by Farrell, ID 110, Winter 2025</h3>
      <p>
        The salmonberry, a species of bramble in the rose family, typically
        grows to the height of an average adult but can reach 1–4 meters tall.
        It thrives in the wet environment of North America's western coast.
        Wildlife pollinates its flowers, allowing it to produce tart and juicy
        berries in yellow, orange, or red from early May to late July.
      </p>
      <img
        src="src/img/student_work/Salmonberry.student work.webp"
        alt="Hand-sketched artwork depicting a salmonberry flower, leaf, and berry.  "
      />
      <img src="src/img/student_work/Salmonberry.student work.webp" alt="" />
      <br /><br />
      <h3>Scotch Broom (Cytisus scoparius), Uncredited, ID 110, Winter 2025</h3>
      <p>
        Scotch Broom has rigid stems and green shoots that display yellow
        flowers in the spring. In late summer, the legume throws seeds onto the
        ground, effectively spreading across North America despite its European
        origins. This fast-growing shrub outcompetes native vegetation.
      </p>
      <img
        src="src/img/student_work/ScotchBroom.student work.webp"
        alt="Hand-sketched drawing of scotch broom detailing its flower, seeds, and stems."
      />
      <br /><br />
      <h3>Sword Fern (Polystichum munitum), Uncredited, ID 110, Winter 2025</h3>
      <p>
        The sword fern, native to the Pacific Northwest, gets its name from its
        dagger-shaped leaves with toothed edges. People grow them as
        houseplants, and the Coast Salish use them to relieve pain and
        inflammation.
      </p>
      <img
        src="src/img/student_work/SwordFern.student work.webp"
        alt="Hand-sketched artwork depicting a sword fern’s natural environment, fiddlehead, pinna, and fronds."
      />
      <br /><br />
      <h3>
        Thimbleberry (Rubus parviflorus) by Nathan T., ID 110, Winter 2025
      </h3>
      <p>
        Thimbleberry is a deciduous shrub that produces hollow, tart red
        berries, which Pacific Northwesterners enjoy. Its large, soft leaves and
        thornless branches create a distinctive look.
      </p>
      <img
        src="src/img/student_work/Thimbleberry.student work.webp"
        alt="Hand-sketched artwork depicting the rubus parviflorus bush, flower, berry, and foliage."
      />
      <br /><br />
      <h3>
        Trailing Blackberry (Rubus urinus) by Taj Watson, ID 110, Winter 2025
      </h3>
      <p>
        The trailing blackberry's prickly branches feature white flowers that
        bloom into dark purple berries. Though invasive, the vines offer
        wildlife and recreational users a tart, juicy treat from May to
        September.
      </p>
      <img
        src="src/img/student_work/TrailingBlackberry.student work.webp"
        alt="Hand-sketched artwork depicting trailing blackberry leaves, flowers, berries, and thorns."
      />
      <br /><br />
      <h3>
        Trailing Blackberry (Rubus urinus), Uncredited, ID 110, Winter 2025
      </h3>
      <p>
        This thorny perennial shrub, native to North America, produces a sweet
        dark berry and grows abundantly in forests and meadows.
      </p>
      <img
        src="src/img/student_work/TrailingBlackberry2.student work.webp"
        alt="Hand-sketched artwork depicting trailing blackberry leaves and flowers."
      />
      <br /><br />
      <h3>Trillium (Trillium ovatum), Uncredited, ID 110, Winter 2025</h3>
      <p>
        The trillium is known for its large ovate-rhombic leaves with white
        petals and yellow stamen. The Trillium genus spans around 50 species of
        flowering plants and is often referred to as “toadshade.” Trillium
        species can be found in temperate regions of North America and Asia.
      </p>
      <img
        src="src/img/student_work/Trillium.student work.webp"
        alt="Hand-sketched artwork depicting trillium flower and its long leaves."
      />
      <br /><br />
      <h3>
        Vine Maple (Acer circinatum) by Meredith Pottinger, ID 110, Winter 2025
      </h3>
      <p>
        The vine maple grows as a vine or shrub and produces winged, paired
        seeds, or “helicopter seeds,” that glide on the wind and provide food
        for local fauna.
      </p>
      <img
        src="src/img/student_work/VineMaple.student work.webp"
        alt="Hand-sketched artwork depicting a vine maple tree and its winged seeds."
      />
      <br /><br />
      <h3>
        Western Red Cedar (Thuja plicata) by Anna Hall, ID 110, Winter 2025
      </h3>
      <p>
        Western red cedars are very large trees recognized for their swollen
        trunk, fissured bark, and scale-like leaves. They produce the small
        cones, ranging from green to brown, that decorate the ground of the
        Arboretum.
      </p>
      <img
        src="src/img/student_work/WesternRedCedar.student work.webp"
        alt="Hand-sketched western red cedar tree depicting cones, whole trunk, and leaves."
      />
      <br /><br />
      <h3>
        Yellow Archangel (Lamium galeobdolon) by Natalie Slayter, ID 110, Winter
        2025
      </h3>
      <p>
        The Yellow Archangel is an invasive plant that grows in the shady forest
        of the Arboretum and produces clusters of yellow petals in April and
        May.
      </p>
      <img
        src="src/img/student_work/YellowArchangel.student work.webp"
        alt="Hand-sketched artwork depicting yellow archangel, detailing its tuber, flower, leaf, and root."
      />
    </div>
    <!-- class region-wrapper -->
  </div>
  <!-- class page-content -->
</Layout>
