---
import Artists from "../pages/Artists.astro";
import WSHAWStudentRunDeclaration from "./WSHAWStudentRunDeclaration.astro";
---

<footer>
  <!-- footer content goes here -->
  <section class="site-footer">
    <div class="region region--footer_center">
      <WSHAWStudentRunDeclaration />
    </div>
  </section>
  <wwu-footer></wwu-footer>
</footer>
