<wwu-main-nav>
  <a href="index.html">Home</a>

  <wwu-has-children label="About">
    <wwu-sub-menu>
      <a href="Rules.html">Preserve the Arboretum (Rules)</a>
      <a href="https://fdo.wwu.edu/house-healing-pw774" name="_blank"
        >House of Healing Longhouse</a
      >
      <a href="Involve.html">Get Involved</a>
      <a href="Contact.html">Contact Us</a>
      <a href="ArboretumBoard.html">About the Board</a>
    </wwu-sub-menu>
  </wwu-has-children>

  <wwu-has-children label="Natural Features">
    <wwu-sub-menu>
      <a href="Geology.html">Geology</a>
      <a href="Plants.html">Plants</a>
      <a href="Fungi.html">Fungi</a>
      <a href="Birds.html">Birds</a>
    </wwu-sub-menu>
  </wwu-has-children>

  <wwu-has-children label="Community">
    <wwu-sub-menu>
      <wwu-has-children label="Artists">
        <a href="Artists.html">Artists</a>
      </wwu-has-children>
      <a href="Seasons.html">Seasons on the Hill</a>
      <a href="StudentWork.html">Student Work</a>
    </wwu-sub-menu>
  </wwu-has-children>

  <a href="Map.html">Map</a>
</wwu-main-nav>
