<style>
  /* Container that holds the image and the text overlay */
  .splash {
    position: relative;
    width: 100%;
    filter: brightness(75%);
    max-height: 20vh;
    overflow: hidden;
  }

  /* Image styling */
  .splash img {
    width: 100%; /* Make the image responsive */
    height: auto;
  }
</style>

<!-- Splash screen content -->
<div class="splash">
  <img
    src="src/img/index/trail.webp"
    class="heroimg"
    alt="Broad leaves blocking a narrow pathway through a trail in the Sehome Hill Arboretum" />
</div>
