<div class="student-ran" style="text-align: center;">
  <h2>Western Run Website</h2>
  <p>
    This website has been designed and written by Western Washington University
    (WWU) students, faculty, and staff to showcase the Sehome Hill Arboretum. We hope you enjoy exploring these links and learning about the Arboretum just as we have.
  </p>
</div>
