<div class="student-ran" style="text-align: center;">
  <h2>Western Run Website</h2>
  <p>
    This website has been designed and written by Western Washington University
    (WWU) students, faculty, and staff to showcase the Sehome Hill Arboretum. We
    hope you enjoy exploring these links and learning about the Arboretum just
    as we have.
  </p>
  <h2>City of Bellingham Official Site</h2>
  <p>
    Please find the <a
      href="https://cob.org/services/recreation/parks-trails/parks-guide/sehome-arboretum"
      >Official City of Bellingham Sehome Hill Arboretum website</a
    >
  </p>
</div>
